<!DOCTYPE html>
<html>

<head>
  <title>Yummy</title>
  <!-- Bootstrap linked here -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
  <style>
    *{
	padding: 0px;
	margin: 0px;
	}
 /* *********    font style ************** */

 .fontFasthand {
  font-family: 'Fasthand', cursive;
}






/* ******************  pizza animation started  ******************      */


.pizza-rotate {
  animation: rotate 40s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* ******************  pizza animation ended  ******************      */


.slide-in-right {
  animation: slide-in-right 1s forwards;
  opacity: 0;
}

@keyframes slide-in-right {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.Bounce-top{
animation: Bounce-top 2s ease 0s 1 normal forwards;
}

@keyframes Bounce-top{
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }

    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}

.Shake{
animation: Shake 2s ease 0s 1 normal forwards;
}

@keyframes Shake {
    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        transform: translateX(10px);
    }

    80% {
        transform: translateX(8px);
    }

    90% {
        transform: translateX(-8px);
    }
}

.scale-up{
    animation: scale-up 1s ease 0s 1 normal forwards;
}

@keyframes scale-up {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.wooble{
    animation: wooble 2s ease 0s 1 normal forwards;
}

@keyframes wooble {
    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-30px) rotate(-6deg);
    }

    30% {
        transform: translateX(15px) rotate(6deg);
    }

    45% {
        transform: translateX(-15px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(9px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-6px) rotate(-1.2deg);
    }
}





.container .col-md-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .card::before {
    content: "";
    position: absolute;
    top: -50px;
    height: 0;
    width: 150%;
    background-color: #1369ce;
    z-index: -1;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.container .card {
    width: 280px;
    height: 320px;
    overflow: hidden;
    z-index: 3;
    transition: all 0.5s ease-in-out;
    border: none;
    box-shadow: 5px 5px 10px #1f1f1fa8,
                -5px -5px 10px #1f1f1fa8;
}

.container .card:hover::before {
    height: 150px;
}

.container .card .img-container {
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}

.container .card:hover .img-container {
    border: 10px solid #1369ce;
}

.container .card .img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
}

.container .card:hover .img-container img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.8);
}

.container .card .h3 {
    margin-bottom: 5px !important;
    font-weight: 600;
    pointer-events: none;
}

.container .card .designation {
    font-size: 0.85rem;
    letter-spacing: 2px;
    pointer-events: none;
}

.container .card ul {
    background-color: #1369ce;
    transition: all 0.5s ease-in-out;
    transform: translateY(100px);
}

.container .card:hover ul {
    transform: translateY(40px);
}

.container .card ul li {
    padding: 5px 8px;
    transition: all 0.4s;
}

.container .card ul li a {
    color: #FFF;
}

.container .card ul li:hover {
    background: #fff;
}

.container .card ul li:hover a {
    color: #1369ce;
}










  </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg custom_nav-container bg-dark text-warning pt-3">
    <a class="navbar-brand" href="/">
      <img src="assets/logo.png" alt="" />
      <span class="text-warning">
        Yummy
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <div class="d-flex ml-auto flex-column flex-lg-row align-items-center">
        <ul class="navbar-nav  ">
          <li class="nav-item active">
            <a class="nav-link text-warning" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="/pizza"> Pizza</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="/service"> Services </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-warning" href="/contact">Contact us</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 ml-0 ml-lg-4 mb-3 mb-lg-0">
          <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit"></button>
        </form>
      </div>
      <div class="quote_btn-container ml-0 ml-lg-4 d-flex justify-content-center">
        <a href="/login">
          <button type="button" class="btn btn-warning"> Login </button>
        </a>
      </div>
    </div>
  </nav>

  <!-- bootstrap linked -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js">
  </script>


</body>

</html>