<%- include('common/header') %>
	<div class="container-fluid bg-dark text-white" style="background: url(assets/backgroundbanner.jpg);">
		<div class="container">
			<div class="row">
				<div class="col-lg-6  col-md-6 text-center slide-in-right">
					<h1 class="mt-5 pt-5 display-1 fontFasthand">
						<b>
							Enjoy Our
							<br>
							Delicious Pizza
						</b>
					</h1>
					<p class="text-white mb-4 p-5">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod

					</p>
					<a href="" class="btn btn-warning py-3 px-5 me-3 mb-2">
						Book A Table
					</a>

				</div>
				<div class="col-lg-6 col-md-6 text-center pt-3 wooble">
					<img src="assets/pizza.png" class="img-fluid pizza-rotate">
				</div>
			</div>

		</div>
	</div>

	<!-- **********   Banner Ended here   *********************  -->




	<!-- ********** Body Section Started here   *********************  -->

	<div class="container bg-light text-dark mt-5">
		<div class="container">
			<div class="row Bounce-top">
				<div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 g-5 Bounce-top">
					<div class="p-4">

						<i class="fa-solid fa-user-tie text-warning" style="font-size: 3rem;">
						</i>

						<h5 class="fontFasthand">Master Chefs
						</h5>
						<p>Many people have dietary restrictions that prevent them from enjoying traditional pizza.
							Provide your
							readers with tips and recipes for making delicious gluten-free pizza that everyone can
							enjoy.
						</p>
					</div>

				</div>
				<div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 Bounce-top">
					<div class="p-4">

						<i class="fa-solid fa-utensils text-warning" style="font-size: 3rem;">
						</i>

						<h5 class="fontFasthand">Quality Food
						</h5>
						<p>We pride ourselves on using the freshest and highest quality ingredients to create delicious
							and mouthwatering pizzas that will keep you coming back for more.
						</p>
					</div>

				</div>
				<div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 Bounce-top">
					<div class="p-4">

						<i class="fa-solid fa-cart-plus text-warning" style="font-size: 3rem;">
						</i>

						<h5 class="fontFasthand">Online Food
						</h5>
						<p>
							If you are a pizza-lover, then you know pizza home delivery is the best way to enjoy the
							pizza. Once your online pizza delivery order is placed, you can play with your pet or watch
							TV till the executive drops off the divine pie. The only one who loves pizza delivery more
							than you is probably your pet, who is glad you stayed in! Get the toasty pizzas and wash
							them down with the great beverage options and end your evening with the most amazing
							desserts
						</p>
					</div>

				</div>
				<div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 Bounce-top">
					<div class="p-4">

						<i class="fa-solid fa-headphones-simple text-warning" style="font-size: 3rem;">
						</i>

						<h5 class="fontFasthand"> 24/7 Services
						</h5>
						<p>
							we're providing the 24*7 services to customers who want to order pizza at any time of day or
							night. This can be a great convenience for people who work late shifts, students who are up
							late studying, or anyone who wants to satisfy a late-night craving.
						</p>
					</div>

				</div>

			</div>
		</div>
	</div>


	<!-- ********** About Section in Body Section Started here   *********************  -->

	<div class="container m-5">
		<div class="row g-5 align-item-center">
			<div class="col-lg-6">
				<div class="row g-3">
					<div class="col-6 text-start wooble">
						<img src="assets/about-1.jpg" class="img-fluid rounded w-100">
					</div>
					<div class="col-6 text-start wooble">
						<img src="assets/about-2.jpg" class="img-fluid rounded w-75">
					</div>
					<div class="col-6 text-end wooble">
						<img src="assets/about-3.jpg" class="img-fluid rounded w-75">
					</div>
					<div class="col-6 text-end wooble">
						<img src="assets/about-4.jpg" class="img-fluid rounded w-100">
					</div>
				</div>
			</div>
			<div class="col-lg-6 mt-5 slide-in-right">
				<h5 class="text-warning mt-5 fontsofia fontFasthand"> About us
				</h5>
				<h1 class="mb-4 m-5 fontFasthand">Welcome to
					<font class="text-warning">
						<i class="fa-solid fa-utensils me-2">
						</i>
					</font>
					Jayka
				</h1>


				<p class="mb-4">
					I am Excited to announcemnt the grand opening of Jayka -The Tatse of your
					Tongue in delhi . We are a familiy-owned pizza shop that is dedicated to
					bringing the best pizza in town. Our mission is to provide our customers
					with the freshest and more delicious pizza in town.
				</p>


				<p class="mb-4">
					We offer a variety of pizzas, from classic favourite to specality pizzas.
					We also offer side dishes,such as salads,garlic breadand desserts. We
					also have a variety of beverags to choose from soft drink and energy drink.
					We are commited to providing our customer with a great experience and will
					strive tp exceed their expextations

				</p>

				<p class="mb-4">
					If you are in the area, stop by and give us a try. We promise you will
					not be disappointed.

				</p>
				<div class="row g-4 mb-4">
					<div class="col-sm-6">

						<h1 class="flex-shrink-0 display-5 text-warning mb-0 fontFasthand">
							15
						</h1>
						<div class="ps-4">
							<p class="mb-0 fontFasthand">Years of
							</p>
							<h6 class="text-uppercase mb-0 fontFasthand">Experience
							</h6>

							<div class="mt-3">
								<a href="#" class="btn btn-warning py-3 px-5 me-3">
									Read More
								</a>
							</div>
						</div>


					</div>
					<div class="col-sm-6">

						<h1 class="flex-shrink-0 display-5 text-warning mb-0 fontFasthand">
							100
						</h1>
						<div class="ps-4">
							<p class="mb-0 fontFasthand">Popular
							</p>
							<h6 class="text-uppercase mb-0 fontFasthand">Master Chef
							</h6>
							<div class="mt-3">
								<a href="#" class="btn btn-warning py-3 px-5 me-3">
									Read More
								</a>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</div>




	<!-- ********** About Section in Body Section ended here **************  -->



	<%- include('common/footer') %>