<%- include('common/header') %>
    <form method="post" action="/login">
        <center>
            <h3>Ready to Login</h3>

            <div class="form-group">
                <input type="email" name="email" placeholder="Email" class="form-input">
                <div class="input-icon">
                    <i class="fas fa-user"></i>
                </div>
            </div>
            <div class="form-group">
                <input type="password" name="pass" placeholder="Password" class="form-input">
                <div class="input-icon">
                    <i class="fas fa-user-lock"></i>
                </div>
            </div>

            <button type="submit" class="btn btn-login">Login</button>
    </form>

    <a href="/signup">Creat an account</a>


    </center>
    <%- include('common/footer') %>