<%- include('common/header') %>
  <!-- ********** Body Section Started here   *********************  -->

  <div class="container bg-light text-dark">
    <div class="row  pt-5">
      <div class="col text-center">
        <h5 class="text-warning fontFasthand">Food Menu</h5>
        <h1 class="mb-5 fontFasthand">Most Popular Items</h1>

      </div>
      <div class="text-center">
        <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
          <li class="nav-item">
            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active text-decoration-none"
              data-bs-toggle="pill" href="#">
              <i class="fa fa-coffee fa-2x text-warning">
              </i>
              <div class="ps-3">
                Popular
                <h6 class="mt-n1 mb-0">Breakfast</h6>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center text-start mx-3 pb-3 text-decoration-none" data-bs-toggle="pill"
              href="#">
              <i class="fa fa-hamburger fa-2x text-warning"></i>
              <div class="ps-3">
                <small class="text-decoration-none">Special</small>
                <h6 class="mt-n1 mb-0">Launch</h6>
              </div>
            </a>
          </li>
          <li class="nav-item">
            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3 text-decoration-none" data-bs-toggle="pill"
              href="#">
              <i class="fa fa-utensils fa-2x text-warning">
              </i>
              <div class="ps-3">
                <div class="text-body">Lovely
                </div>
                <h6 class="mt-n1 mb-0">Dinner
                </h6>
              </div>
            </a>
          </li>
        </ul>
        <div class="p-0">
          <div class="row g-4">
            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="./assets/menu-1.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    Veg Pizza
                    <div class="text-danger">Rs 109
                    </div>
                  </h5>
                  <div class="">A delight for veggie lovers! Choose from our wide range of delicious vegetarian pizzas,
                    it's softer and tastier
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/menu-2.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    Non-Veg Pizza
                    <div class="text-danger">Rs 99
                    </div>
                  </h5>
                  <div class="">Choose your favourite non-veg pizzas from the Domino's Pizza menu. Get fresh non-veg
                    pizza with your choice of crusts & toppings
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/menu-3.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    Pizza Mania
                    <div class="text-danger">Rs 79
                    </div>
                  </h5>
                  <div class="">
                    Indulge into mouth-watering taste of Pizza mania range, perfect answer to all your food cravings
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/menu-4.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    MARGHERITA
                    <div class="text-danger">Rs 69
                    </div>
                  </h5>
                  <div class="">A hugely popular margherita, with a deliciously tangy single cheese topping
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/menu-5.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    DOUBLE CHEESE MARGHERITA
                    <div class="text-danger">Rs 119
                    </div>
                  </h5>
                  <div class="">The ever-popular Margherita - loaded with extra cheese... oodies of it!
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/menu-6.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    FARM HOUSE
                    <div class="text-danger">Rs 49
                    </div>
                  </h5>
                  <div class="">A pizza that goes ballistic on veggies! Check out this mouth watering overload of
                    crunchy, crisp capsicum, succulent mushrooms and fresh tomatoes
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/menu-7.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    PEPPY PANEER
                    <div class="text-danger">Rs 49
                    </div>
                  </h5>
                  <div class="">Chunky paneer with crisp capsicum and spicy red pepper - quite a mouthful!
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 scale-up">
              <div class="d-flex align-items-center">
                <img class="flex-shrink-0 img-fluid rounded" src="assets/menu-8.jpg">
                <div class="w-100 d-flex flex-column text-start ps-4">
                  <h5 class="d-flex justify-content-between border-bottom pb-2 text-warning fontFasthand">
                    MEXICAN GREEN WAVE
                    <div class="text-danger">Rs 149
                    </div>
                  </h5>
                  <div class="">A pizza loaded with crunchy onions, crisp capsicum, juicy tomatoes and jalapeno with a
                    liberal sprinkling of exotic Mexican herbs.</div>
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- ********** About Section in Body Section ended here **************  -->



  <%- include('common/footer') %>