<%- include('common/header') %>
<div class="container bg-light text-dark">
  <div class="row  pt-5">
    <div class="col text-center">
      <h5 class="text-warning fontFasthand">Our Services</h5>
      <h1 class="mb-5 fontFasthand">Explore Our Services</h1>

    </div>
  </div>
</div>



<div class="container bg-light text-dark mt-5">
  <div class="container">
    <div class="row Bounce-top">
      <div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 g-5 Bounce-top">
        <div class="p-4">

          <i class="fa-solid fa-user-tie text-warning" style="font-size: 3rem;">
          </i>

          <h5 class="fontFasthand">Master Chefs
          </h5>
          <p>Many people have dietary restrictions that prevent them from enjoying traditional pizza. Provide your
            readers with tips and recipes for making delicious gluten-free pizza that everyone can enjoy.
          </p>
        </div>

      </div>
      <div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 Bounce-top">
        <div class="p-4">

          <i class="fa-solid fa-utensils text-warning" style="font-size: 3rem;">
          </i>

          <h5 class="fontFasthand">Quality Food
          </h5>
          <p>We pride ourselves on using the freshest and highest quality ingredients to create delicious and mouthwatering pizzas that will keep you coming back for more.
          </p>
        </div>

      </div>
      <div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 Bounce-top">
        <div class="p-4">

          <i class="fa-solid fa-cart-plus text-warning" style="font-size: 3rem;">
          </i>

          <h5 class="fontFasthand">Online Food
          </h5>
          <p>
            If you are a pizza-lover, then you know pizza home delivery is the best way to enjoy the pizza. Once your online pizza delivery order is placed, you can play with your pet or watch TV till the executive drops off the divine pie. The only one who loves pizza delivery more than you is probably your pet, who is glad you stayed in! Get the toasty pizzas and wash them down with the great beverage options and end your evening with the most amazing desserts
          </p>
        </div>

      </div>
      <div class="col-lg-3 col-sm-6 bg-light border border-1 mt-2 Bounce-top">
        <div class="p-4">

          <i class="fa-solid fa-headphones-simple text-warning" style="font-size: 3rem;">
          </i>

          <h5 class="fontFasthand"> 24/7 Services
          </h5>
          <p>
            we're providing the 24*7 servicesssssssss to customers who want to order pizza at any time of day or night. This can be a great convenience for people who work late shifts, students who are up late studying, or anyone who wants to satisfy a late-night craving.
          </p>
        </div>

      </div>

    </div>
  </div>
</div>

  <%- include('common/footer') %>