<form method="post" action="">
    <input type="text" class="form-control p-2" placeholder="UserName" id="form-username" name="details"
        value="<%=data.details %>">
    <input type="email" class="form-control p-2" placeholder="Email" id="form-username" name="subdetails"
        value="<%=data.subdetails %>">

    <input type="text" class="form-control p-2" placeholder="Enter Description" id="form-username" name="enterdesc"
        value="<%=data.enterdesc %>">
    <input type="file" class="form-control p-2" placeholder="Add Jpg file" id="form-username" name="attachfile"
        value="<%=data.attachfile %>">
    <input type="submit" value="SUBMIT">


</form>